.err-page-503 {
  .bg-logo-right {
    @media (min-width: 1281px) {
      width: 100%;
      height: 530px;
      right: -70px;
    }
  }
  @media (max-width: 1025px) {
    margin-bottom: 0;
  }  
}
.error-msg{
  p{
    font-size: 36px;
    line-height: 40px;
    @media (max-width: 1023px) {
      font-size: 24px;
      line-height: 27px;
    }
      &:nth-child(3){
        line-height: 24px;
      }
      &:last-child{
      font-size: 18px;
      line-height: 27px;
      font-family: "sofia-pro-regular";
      text-decoration: underline;
      a{
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: 641px) {
  .err-page-503 {
    padding: 24px 72px 0;
  }
  .four-zero-four {
    padding: 16px;
  }
}