.error-msg{
  p{
      &:nth-child(3){
        line-height: 24px;
      }
      &:last-child{
      font-size: 18px;
      line-height: 27px;
      font-family: "sofia-pro-regular", Helvetica, Arial, Verdana, Tahoma, sans-serif;
      text-decoration: underline;
      a{
        text-decoration: underline;
      }
    }
  }
}
