.related-card {
    p {
        ul {
            li {
                font-weight: 400;
                margin: 0px 0 10px;
            }
        }
        br {
            margin-bottom: 10px;
        }
    }
}