.related-card {
    p {
        ul {
            li {
                font-weight: 400;
                margin: 0px 0 10px;
            }
        }
        br {
            margin-bottom: 10px;
        }
    }
}

.blog-details-container{
    .OutlineElement{
        p{
            padding-bottom: 24px;
            @media (max-width: 1023px) {
                padding-bottom: 16px;
            }
            strong{
                color: $heading-color;
                font-family: "GTAlpina-Medium", Helvetica, Arial, Verdana, Tahoma, sans-serif;
                font-size: 32px;
                line-height: 36px;
                @media (max-width: 1023px) {
                    font-size: 24px;
                    line-height: 27px;
                }
            }
        }
    }
}