@import "variables.module.scss";
@import "styles/google-map.scss";
// @import url("https://use.typekit.net/hpz6zgl.css"); // sofia pro light
// @import url("https://use.typekit.net/wqd6ivp.css"); // sofia pro regular
// @import url("https://use.typekit.net/qce2qnp.css"); // sofia pro bold
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GTAlpina-Medium";
  src: url("/fonts/GTAlpina-Medium.eot");
  src: url("/fonts/GTAlpina-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/GTAlpina-Medium.woff2") format("woff2"),
    url("/fonts/GTAlpina-Medium.woff") format("woff"),
    url("/fonts/GTAlpina-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sofia-pro-light";
  src: url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "sofia-pro-regular";
  src: url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "sofia-pro-bold";
  src: url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@import "Header.module.scss";
@import "404.module.scss";
@import "503.module.scss";
@import "blog.module.scss";
@import "privacy.module.scss";
@import "ProductSearchList.module.scss";
@import "HealthNeeds.module.scss";
@import "healthcare.module.scss";
@import "productList.module.scss";
@import "AllProductList.module.scss";
@import "whyFT.module.scss";

body {
  background-color: #FFFDFB;
}

.green-light {
  background-color: #e0eae8;
}

.orange-light {
  background-color: #ffeabc;
}

.heading-color {
  color: $heading-color;
}

.text-color {
  color: $text-color;
}

// Start Header Css
.cookies-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2px 4px;
  text-align: center;
  background-color: #001a71;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
}

.cookies-text {
  font-family: "sofia-pro-regular";
}

.cross-btn,
.cookies-btn {
  margin: 0 5px;
  padding: 0 2px;
  cursor: pointer;
  font-family: "sofia-pro-bold";
}

.header {
  width: 100%;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  cursor: pointer;
  z-index: 9999;
}

.mobile-nav {
  display: none;
}

.mobile-search {
  display: none;
}

.search {
  background-image: url("/images/search_btn.png");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-color: transparent;
  width: 100%;
}

.input-box {
  width: 100%;
  font-size: 16px;
  color: #4d5f9c;
  background-color: #f8f9fb;
  border: 1px solid #4d5f9c;
  border-radius: 4px;
  padding: 9px 16px;

  &::placeholder {
    color: #4d5f9c;
  }
}

.navBar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  background: #001a71;
  padding: 2px 60px;
}

.link {
  text-decoration: none;
  padding: 5px 5px;
  margin: 5px 5px;
  color: #fff;
  font-family: "sofia-pro-bold";
  font-size: 18px;
  line-height: 27px;
}

.link:first-child {
  margin-left: 0;
  padding-left: 0;
}

.arrow {
  position: relative;
  padding-right: 25px;
}

.arrow::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 0.2em solid #fff;
  border-top: 0.2em solid #fff;
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto 0;
}

// End Header Css

.btn {
  font-family: "sofia-pro-bold";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #001a71;
  border-radius: 8px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner {
  background: linear-gradient(
    90.06deg,
    rgba(58, 62, 65, 0.87),
    rgba(58, 62, 65, 0.47),
    rgba(58, 62, 65, 0),
  );
  h2 {
    font-family: "sofia-pro-bold";
    font-size: 36px;
    line-height: 41px;
    max-width: 343px;
  }

  p {
    font-family: "sofia-pro-regular";
    font-size: 20px;
    line-height: 23px;
    max-width: 343px;
  }
}

.category-container {
  padding: 72px 182px 0 182px;

  .category {
    .img-circle {
      width: 200px;
      height: 200px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 100px;
    }

    .acute-border {
      border: 8px solid #79cdee;
    }

    .preventive-border {
      border: 8px solid #ffc238;
    }

    .day-border {
      border: 8px solid #a7c8e9;
    }

    .diagnostic-border {
      border: 8px solid #b2dbd3;
    }

    .title {
      margin-top: 24px;
      text-align: center;
      font-size: 24px;
      color: #001a71;
      line-height: 27px;
      font-family: "GTAlpina-Medium";
    }

    .text {
      margin-top: 6px;
      text-align: center;
      color: #3a3e41;
      font-size: 18px;
      line-height: 27px;
      font-family: "sofia-pro-regular";
    }
  }
}

.learning-container {
  margin: 24px 0;
  padding: 18px 36px;

  .inner-col {
    padding: 18px 36px;
    margin: auto;

    h5 {
      color: #001a71;
      line-height: 61px;
      font-family: "GTAlpina-Medium";
      font-size: 54px;
      font-weight: 500;
    }

    p {
      font-family: "sofia-pro-regular";
      color: #3a3e41;
      padding: 24px 0;
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.learning-container-bg {
  margin: 24px 0;
  padding: 18px 36px;

  .inner-col {
    padding: 18px 36px;
    margin: auto;

    h5 {
      color: #001a71;
      line-height: 61px;
      font-family: "GTAlpina-Medium";
      font-size: 54px;
      font-weight: 500;
    }

    p {
      color: #3a3e41;
      padding: 24px 0;
      font-size: 18px;
      line-height: 27px;
      font-family: "sofia-pro-regular";
    }
  }
}

.image-form {
  display: flex;

  img {
    border-radius: 10px 10px 0 0;
  }

  .sign-up-form {
    width: 100%;
    background-color: #e6e8f1;
    border-radius: 0 10px 10px 0;
    padding: 18px 24px;

    h4 {
      font-family: "GTAlpina-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 41px;
      color: #001a71;
      padding: 6px 0;
    }

    p {
      font-family: "sofia-pro-bold";
      font-size: 24px;
      line-height: 28px;
      color: #3a3e41;
      padding: 6px 0;
    }

    .sign-form {
      input,
      div {
        margin: 6px 0;
      }

      .btn {
        padding: 10px;
      }
    }

    .hint {
      font-family: "sofia-pro-regular";
      font-size: 16px;
      line-height: 18px;
      color: #3a3e41;
    }
  }
}

.pramotional-container {
  padding: 24px;
  text-align: center;

  h5 {
    color: #001a71;
    padding: 0 24px 24px 24px;
    margin: 0 10px 10px 10px;
    font-size: 54px;
    line-height: 61px;
    font-weight: 500;
    font-family: "GTAlpina-Medium";
  }

  p {
    padding: 0 10%;
    font-size: 18px;
    line-height: 27px;
    color: #3a3e41;
    font-family: "sofia-pro-regular";
  }
}

.pramotion-product-container {
  padding: 12px 0;
  // padding: 12px 60px; for carouselin health needs
  .product-container {
    margin: 12px;
    padding: 36px;

    &.p-1 {
      background: #d9f3fd;
    }

    &.p-2 {
      background: #ffeabc;
    }

    &.p-3 {
      background: #eaf1f8;
    }

    &.p-4 {
      background: #e0eae8;
    }

    .logo-img {
      margin-bottom: 12px;
    }

    .left-col {
      padding-right: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right-col {
      padding-left: 12px;
      margin: auto 0;

      p {
        margin: 12px 0;
        color: #3a3e41;
        font-size: 18px;
        line-height: 27px;
        font-family: "sofia-pro-regular";
      }

      div {
        margin: 12px 0;
        width: 139px;
        height: 44px;
        float: right;
      }
    }
  }
}

.footer-bg {
  background-color: #e6e8f1;
}

.f-p {
  margin-top: 36px;
  padding: 36px 72px;
}

.f-heading h5 {
  color: #001a71;
}

.f-title {
  color: #3a3e41;
}

.footer-row {
  h5 {
    font-family: "GTAlpina-Medium";
    font-size: 27px;
    line-height: 31px;
    padding: 6px 0;
  }

  li {
    font-family: "sofia-pro-regular";
    font-size: 18px;
    line-height: 27px;
    padding: 6px 0;
  }
}

.footer-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 6px 12px;

  h5 {
    margin: 0;
    padding: 6px 0;
    font-size: 24px;
    line-height: 27px;
  }

  div {
    font-family: "sofia-pro-regular";
    padding: 6px 0;
    font-size: 18px;
    line-height: 27px;

    &.sign-form {
      padding: 0;

      input {
        margin: 6px 0;
      }

      .btn {
        margin: 6px 0;
        font-family: "sofia-pro-bold";
        padding: 6px 0;
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
}

.f-border {
  border-left: 1px solid #cdd2e3;
  border-right: 1px solid #cdd2e3;
  padding-left: 10px;
  margin-right: 10px;
}

.icon-bg {
  background-color: #001a71;
}

// Mobile menu styles
/*---------------------
HAMBURGER MENU
----------------------*/

.hamburger-menu {
  padding-top: 20px;
  width: 15%;
  height: 64px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.bar,
.bar:after,
.bar:before {
  width: 30px;
  height: 3px;
}

.bar {
  position: relative;
  transform: translateY(10px);
  transition: all 0ms 300ms;
  background-color: #001a71;
}

.bar.animate {
  background-color: transparent;
}

.bar:before {
  background-color: #001a71;
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  background-color: #001a71;
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*---------------------
Mobiles Menu 
----------------------*/
/*---------------------
	Mobiles Menu - Design 
	----------------------*/

.mobile-menu ul {
  font-family: "sofia-pro-bold";
  padding: 0;
}

.mobile-menu .main-menu {
  margin-top: 24px;
}

.mobile-menu li {
  font-size: 16px;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  padding: 5px 0 5px 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.mobile-menu .main-menu li:hover {
  background: #fff;
  border-left: 4px solid #001A71;
  padding: 5px 0 5px 16px;
}

.mobile-menu li a {
  text-decoration: none;
}
.mobile-menu .sub-menu li {
  font-family: "sofia-pro-regular";
  background-color: #FFF6ED;
}
.mobile-menu .sub-menu li:hover {
  background: #fff;
  border-left: 4px solid #FFF6ED;
  padding: 5px 0 5px 16px;
}
.mobile-menu .main-menu .has-children:hover {
  background: #FFF6ED;
  border-left: 4px solid #FFF6ED;
  padding: 5px 0 5px 16px;
}

/*---------------------
	Mobiles Menu - Slide IN 
	----------------------*/

.mobile-menu {
  top: 64px;
  max-width: 90%;
  left: -100%;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9997;
  overflow-y: auto;
  -webkit-transform: translate3d(0, 0, 205px);
  -moz-transform: translate3d(0, 0, 205px);
  transform: translate3d(0, 0, 205px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.mobile-menu.active {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

/*---------------------
	Mobiles Menu - Dropdown Submenu
	----------------------*/

.has-children:hover {
  cursor: hand;
}

.children {
  display: none;
}

.mobile-menu .children li:first-child {
  margin-top: 0px;
}

.icon-arrow {
  position: absolute;
  display: block;
  font-size: 0.7em;
  top: 15px;
  right: 20px;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  border: solid #001A71;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* hi-res laptops and desktops */
@media (max-width: 1281px) {
  .mobile-nav {
    display: none;
  }

  .mobile-search {
    display: none;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (max-width: 1025px) {
  .cookies-container {
    font-size: 10px;
  }

  .mobile-search {
    display: none;
  }

  .category-container {
    padding: 72px;

    .category {
      margin: 12px auto;
      width: 200px;
    }
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width: 961px) {
  .cookies-container {
    display: inline-block;
    padding: 8px 16px;
  }

  .cookies-btn {
    display: inline-block;
    margin: 5px;
    padding: 5px;
  }

  .cross-btn {
    width: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }

  .category-container {
    padding: 72px;

    .category {
      margin: 12px auto;
      width: 200px;
    }
  }

  .icon-arrow.open {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width: 641px) {
  .cookies-container {
    display: inline-block;
    padding: 8px 16px;
  }

  .cookies-btn {
    display: inline-block;
    margin: 5px;
    padding: 5px;
  }

  .cross-btn {
    width: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }

  .header {
    padding: 0 19px;
    width: 100%;
    height: 64px;
  }

  .mobile-nav {
    display: block;
  }

  .logo-img {
    width: 182px;
  }

  .mobile-search {
    display: block;
  }

  .desktop-search {
    display: none;
  }

  .navBar {
    width: 320px;
    background-color: #fff;
    padding: 16px;
    z-index: 9;
    position: absolute;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }

  .link {
    display: block;
    color: #000;
    margin: 4px 0;
    padding: 4px 0;
    font-size: 16px;
    line-height: 24px;
    color: #001a71;
    font-weight: 500;
  }

  .arrow {
    position: relative;
  }

  .arrow::after {
    border-right: 0.2em solid #001a71;
    border-top: 0.2em solid #001a71;
  }

  .hero-banner {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5px;
    background-color: rgba(39, 44, 47, 0.8);
    h2 {
      font-size: 24px;
      line-height: 32px;
      max-width: fit-content;
    }
    p {
      font-size: 18px;
      max-width: fit-content;
    }
  }

  .category-container {
    padding: 12px 16px;

    .category {
      margin: 12px auto;
      width: 200px;

      .title {
        font-size: 24px;
        line-height: 27px;
      }

      .text {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }

  .learning-container {
    margin: 24px auto;
    padding: 0 16px;

    .inner-col {
      padding: 0;
      text-align: center;

      &.image-form {
        flex-direction: column;

        .sign-up-form {
          text-align: left;
          padding: 8px;
          border-radius: 0 0 10px 10px;

          h4 {
            padding: 8px;
            font-size: 27px;
            line-height: 31px;
          }

          p {
            padding: 8px;
            font-size: 18px;
            line-height: 21px;
          }

          .sign-form {
            padding: 0 8px;

            input,
            div {
              margin: 8px 0;
            }
          }

          .hint {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }

      &.form-grid-none {
        grid-row: none;
      }

      h5 {
        font-size: 27px;
        line-height: 31px;
      }

      p {
        padding: 16px 0;
        font-size: 16px;
        line-height: 24px;
      }

      .btn {
        margin: auto;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .learning-container-bg {
    margin: 0;
    padding: 12px 16px;

    .inner-col {
      padding: 12px 0;
      text-align: left;

      h5 {
        font-size: 32px;
        line-height: 36px;
      }

      p {
        padding: 24px 0 0 0;
        font-size: 16px;
        line-height: 24px;
      }

      .btn {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .pramotional-container {
    padding: 24px 16px 12px 16px;

    h5 {
      margin: 0;
      padding: 0;
      font-size: 27px;
      line-height: 31px;
    }

    p {
      text-align: left;
      padding-top: 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .pramotion-product-container {
    padding: 0 16px;

    .product-container {
      padding: 8px 16px;
      margin: 12px 0;

      .logo-img {
        margin: 8px auto;
      }

      .left-col {
        padding-right: 0;
        margin: 8px auto;
      }

      .right-col {
        padding-left: 0;

        p,
        .btn {
          margin: 8px 0;
        }

        p {
          font-size: 18px;
          line-height: 27px;
        }
      }
    }
  }

  .f-p {
    margin-top: 12px;
    padding: 8px 32px;
  }

  .footer-row {
    padding: 24px 0;

    h5 {
      margin: 6px 0;
      font-size: 20px;
      line-height: 23px;
    }

    li {
      padding: 6px 0;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .f-border {
    margin-right: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccd2e3;
    border-bottom: 1px solid #ccd2e3;
  }

  .footer-form {
    border-radius: 10px;
    padding: 6px 12px;

    h5 {
      margin: 0;
      padding: 6px 0;
      font-size: 24px;
      line-height: 27px;
    }

    div {
      padding: 6px 0;
      font-size: 18px;
      line-height: 27px;

      &.sign-form {
        padding: 0;

        .btn {
          margin: 6px 0;
          font-family: "sofia-pro-bold";
        }
      }
    }
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (max-width: 481px) {
  
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (max-width: 320px) {
  
}

.text-sofia-reg {
  font-family: "sofia-pro-regular";
}

.text-sofia-bold {
  font-family: "sofia-pro-bold";
}

.text-gtl-med {
  font-family: "GTAlpina-Medium";
}

.text-27 {
  font-size: 27px;
}

.text-54 {
  font-size: 54px;
  line-height: 61px;
}

.text-32 {
  font-size: 32px;
  line-height: 36px;
}
.text-32-line{
  font-size: 54px;
  line-height: 61px;
}
.text-36 {
  font-size: 36px;
  line-height: 40px;
}
.blue-bg {
  background-color: #001a71;
}

.yellow-bg {
  background-color: #ffeabc;
}

.grey-bg {
  background-color: #d9f3fd;
}

.grey-light-bg {
  background-color: #eaf1f8;
}

.grey-thick-bg {
  background-color: #e0eae8;
}

.shade-blue-bg {
  background-color: #f8f9fb;
}

.shade-blue-border {
  border: 0.5px solid #ccd1e3;
}

.shade-blue-border-top {
  border-top: 0.5px solid #ccd1e3;
}

.shade-blue-border-70 {
  border: 0.5px solid #4d5f9c;
}

.shade-grey-right-border {
  border-right: 1px solid #767676;
}

.blue-txt {
  color: #001a71;
}

.grey-txt {
  color: #3a3e41;
}

.grey-bg {
  background-color: #3a3e41;
}

.header-bg-white {
  background-color: #fffaf6;
}

.border-blue {
  border: 1px solid #001A71;
}

.bg-transparent-left {
  background: linear-gradient(
    90deg,
    #f2f3f5 0%,
    rgba(241, 241, 242, 0.578125) 56.81%,
    rgba(222, 222, 223, 0) 102%
  );
}

.bg-transparent-right {
  background: linear-gradient(
    90deg,
    rgba(222, 222, 223, 0) 0%,
    rgba(241, 241, 242, 0.9) 47.81%,
    #f2f3f5 102%
  );
}

.w-540 {
  width: 540px;
}
.mb-76 {
  margin-bottom: 76px;
}
.pb-72 {
  padding-bottom: 72px;
}
.pd-12{
  padding: 12px;
}
footer {
  margin-top: 72px;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
.swiper-container {
  display: grid;
  grid-template-columns:  repeat(2, minmax(2rem, 8fr));
  grid-gap: 0;
}

/* Product-list-slider Styles Start */
.product-list-container {
  justify-content: flex-start;
  width: 100%;
  padding: 24px 0 24px 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  display: flex;  
  // (should be added for swiper in health needs)

  .swiper-list-tem{
    width: 174px;
    min-height: 695px;
    // height: auto;
    padding: 16px 16px 26px 16px;
    border: 1px solid #ccd1e3;
    border-radius: 8px;
    margin-right: 0;
    margin-bottom: 24px;
    margin-left: 0px;

  }
  .product-list-item {
    width: 212px;
    min-height: 395px;
    height: auto;
    padding: 16px;
    border: 1px solid #ccd1e3;
    border-radius: 8px;
    margin-right: 0;
    margin-bottom: 24px;

    img {
      max-width: 180px;
      height: auto;
      margin: 0 auto;
      max-height: 240px;
    }

    .bg-mckthingrey {
      margin-top: 8px;
      border-radius: 10px;
      font-weight: 800;
      font-size: 12px;
      line-height: 18px;
      color: #001a71;
    }

    .product-list-title {
      margin: 12px 0 4px;
      font-weight: 800;
      font-size: 20px;
      line-height: 23px;
      color: #001a71;
    }

    .product-list-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #3a3e41;
    }
  }
}

@media screen and (max-width: 767px) {
  .product-list-container {
    padding: 16px 0 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .product-list-item {
      width: 177px;
      min-height: 275px;
      margin-bottom: 16px;

      img {
        max-width: 145px;
        max-height: 112px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .product-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Product-list-slider Styles End */

/* All Product Category Styles */
.section-title {
  font-family: "GTAlpina-Medium";
  font-weight: 500;
  font-size: 48px;
  line-height: 61px;
  color: #001a71;
  padding: 0 24px 0;
}

/** Contact Page Style Start **/
.contact-container {
  border: 0.5px solid #ccd1e3;

  .contact-header {
    background-color: #f8f9fb;
  }

  .contact-body {
    border-top: 0.5px solid #ccd1e3;

    p {
      a {
        white-space: nowrap;
        display: inline-flex;
        span {
          display: block;
          padding-bottom: 4px;
          text-decoration: underline;
          font-weight: normal;
          color: #001a71;
          font-family: "sofia-pro-light";
          font-size: 18px;
        }
      }
    }

    .inquiry-text {
      padding: 0 36px 12px 36px;
      margin: 0;
    }

    .contact-number {
      min-width: 194px;
      word-break: break-all;

      img {
        width: fit-content;
        height: fit-content;
        margin-right: 15px;
        margin-top: 5px;
      }
    }

    p {
      margin-top: 3px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .contact-container {
    .contact-body {
      .inquiry-text {
        margin: 0;
        padding: 0 0 16px 20px;
      }

      p {
        margin: 0;
      }
      .contact-number {
        min-width: unset;
        img {
          margin-right: 12px;
          margin-top: 3px;
        }
      }
      .contact-number-desc {
        padding-left: 36px;
      }
    }
  }
}

/*** FAQ Style ***/
.faq-container {
  .tab {
    border: 0.5px solid #ccd1e3;
  
    &-label {
      &:hover {
        background: #ccd1e3;
      }
  
      &:after {
        content: "";
        background-image: url('../public/images/plus.svg');
        width: 24px;
        height: 24px;
        text-align: center;
        transition: all 1s;
        color: #001a71;
        font-size: 30px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
      
    }
  
    &-content {
      max-height: 0;
      padding: 0 1em;
      transition: all 1s;
      ul,
      ol {
        list-style: disc;
        margin-left: 16px;
      }
      ol {
        list-style: auto;
      }
    }
    // :checked
    input[type="checkbox"] {
      display: none;
    }
  
    input:checked {
      +.tab-label {
        &:after {
          content: "";
          background-image: url('../public/images/minus.svg');
          width: 24px;
          height: 24px;
          text-align: center;
          transition: all 1s;
          color: #001a71;
          font-size: 30px;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
        }
      }
  
      ~ .tab-content {
        max-height: 100vh;
        padding: 12px;
        border-top: 0.5px solid #ccd1e3;
      }
    }
    
  }
}

.category-card {
  .tab {
    border: 0px;
  }
  input:checked {
    ~.tab-content {
      border-top: 0px solid #CCD1E3;
      padding-top: 0px;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 0px;
      margin-bottom: 18px;
    }
    +.tab-label {
      &::after {
        position: absolute;
        right: 15px;
        top: 5px;
      }
    }
  }
  .tab-label {
    &:after {
      position: absolute;
      right: 15px;
      top: 7px;
    }
  }
  .tab-content {
    ul, ol {
      margin-left: 0px;
    }
  }
}

.pdp-details-heading {
  p{
    h1 {
      line-height: 61px;
      font-size: 54px;
      @media screen and (max-width: 1023px) {
        line-height: 36px;
        font-size: 32px;
      }
      span {
        line-height: 61px;
        font-size: 54px;
        @media screen and (max-width: 1023px) {
          line-height: 36px;
          font-size: 32px;
        }
      }
    }
  
    h2 {
      font-size: 36px;
      line-height: 41px;
      @media screen and (max-width: 1023px) {
        line-height: 22px;
        font-size: 20px;
      }
      span {
        font-size: 36px;
        font-size: 36px;
        @media screen and (max-width: 1023px) {
          line-height: 22px;
          font-size: 20px;
        }
      }
    }
  }

  .tab{
    input:checked {
      + .tab-label {
        &::after {
          content: "";
          background-image: url('../public/images/minus.svg');
        }
      }
  
      ~ .tab-content {
        max-height: 100vh;
        padding: 12px;
        border-top: 0.5px solid #ccd1e3;
      }
    }
    input{
      display: none;
    }
    .tab-content{
      padding: 0;
    }
  }
}
.product-detail-page{
  .tab{
    input:checked {
      + .tab-label {
          &::before {
          content: "";
          background-image: url('../public/images/minus.svg');
          position: absolute;
          right: 14px;
          width: 24px;
          height: 24px;
          text-align: center;
          transition: all 1s;
          color: #3a3e41;
          font-size: 30px;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          top: 10px;
        }
      }
      @media screen and (max-width: 1023px) {
        + .tab-label {
          &::before {
          content: none;
        }
      }
      }
    }
  }
}
.pdp-carousel{
  @media screen and (max-width: 1023px) {
      ul{
        li{
          margin-right: 12px;
          margin-top: 16px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
  }
}

.pdp-detail-description {
  div {
    ul {
      list-style-type: disc;
    }
  }

  ul {
    list-style-type: disc;
  }
}
/*** why FT, Faq Mobile styles ***/
@media screen and (max-width: 1023px) {
  .four-oh-four {
    padding-left: 16px;
    padding-right: 16px;
  }
  .four-oh-four .heading {
    font-size: 27px;
    line-height: 30px;
  }
  .mb-76 {
    margin-bottom: 24px;
  }
  .bg-transparent-left {
    background-image: none;
  }
  .w-540 {
    width: 100%;
  }
  .bg-transparent-right {
    background-image: none;
  }
  footer {
    margin-top: 24px;
  }
  .tab input:checked ~ .tab-content {
    padding: 16px;
    border: 0;
  }
  .tab {
    .tab-content ul,
    ol {
      margin-left: 8px;
    }
    .tab-label{
      position: relative;
      span{
        width: 95%;
      }
      &::after{
        position: absolute;
        right: 15px;
        top: 15px;
      }
    }
  }
  .text-54 {
    font-size: 32px;
    line-height: 36px;
  }
  .header{
    // background-color: #FFFAF6B2;
  }
}

/*Header issue changes*/
@media (max-width: 768px) {
  .brand-logo {
    width: 183px;
    margin-left: 10%;
  }
}
@media (min-width: 968px) {
  .header {
    // height: 178px;
    justify-content: inherit;
    padding: 0;
  }
  .header:hover,
  .header-sticky:hover,
  .brand-logo:hover +.header-sticky {
    background: #001a71 !important;
    color: #fff !important;
  } 
  .header-sticky:hover .icon-arrow,
  .brand-logo:hover +.header-sticky .icon-arrow {
    border-color: #fff;
  }
  .header:hover .group svg path {
    fill: #fff;
  }
  .search-icon path {
    fill: #001a71;
  }

  .header:hover .search-icon path {
    fill: #fff;
  }

  .input-search:focus + svg {
    fill: red;
  }

  .input-search:focus + .search-icon path {
    fill: #001A71 !important;
  }
  // .search-icon {
  //   position: absolute;
  //   bottom: 23px;
  //   right: 43px;
  // }
  .header:hover .search-icon path {
    fill: #fff;
  }
  .brand-logo {
    padding-left: 32px;
  }
  .signup-form {
    width: 27%;
  }
  .bg-gradient {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8) 47.03%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 100%;
    height: 363px;
    left: 0px;
    top: 0px;
    z-index: 8;
  }
  #nav-bar {
    a {
      text-decoration: none;
    }
  }
}
/*---------------------
	Nav Tabs - Health Page
	----------------------*/
  .NavTabs_Contain {
    .tabs {
      display: flex;
      flex-wrap: wrap; // make sure it wraps
    }
    .tabs label {
      order: 1; // Put the labels first
      display: flex;
      justify-content: center;
      -webkit-box-flex: 3;
      -ms-flex-positive: 3;
      flex-grow: 3;
      transition: background ease 0.2s;
    }
    .tabs .tab {
      order: 99; // Put the tabs last
      flex-grow: 1;
      width: 100%;
      display: none;
      background: #fff;
    }
    .tabs input[type="radio"] {
      display: none;
    }
  
    .tabs input[type="radio"]:checked + label + .tab {
      display: block;
    }
      
    @media (max-width: 45em) {
      .tabs .tab,
      .tabs label {
        order: initial;
      }
      .tabs label {
        display: flex;
        width: 100%;
        margin-right: 0;
        justify-content: flex-start;
      }
    }
  }

  .pb-10{
    padding-bottom: 10px;
  }
  .product-detail-page{
    margin-top: 250px;
    @media (max-width: 968px) {
      margin-top: 24px;
    }
     .tab-label:after {
      content: "";
      width: 24px;
      height: 24px;
      text-align: center;
      transition: all 1s;
      color: #3a3e41;
      font-size: 30px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      background-image: url('../public/images/plus.svg');
  }
  }

  .input-search {
    transition: all .5s ease-in-out;
  }
  
  .input-search::placeholder {
    color: #4D5F9C;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  
  }
  
  // .btn-search {
    // width: 50px;
    // height: 50px;
    // border-style: none;
    // font-size: 20px;
    // font-weight: bold;
    // outline: none;
    // cursor: pointer;
    // border-radius: 50%;
    // position: absolute;
    // right: 15px;
    // color: #ffffff;
    // background-color: transparent;
  // }
  
  // .input-search:hover{
  //   background-color: red;
  // }
  
  
  .btn-search:focus~.input-search {
    width: 310px;
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  .input-search:focus {
    border: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  
  .search-icon {
    pointer-events: none;
    z-index: 999;
  }
  .input-search:focus + .search-icon,
  .input-search:focus-visible + .search-icon,
  .input-search:visited + .search-icon {
    top: 1.2rem;
    right:1.5rem;
  }
  
  .search-box {
    // width: 250px;
    z-index: 9999;
  }

  /**
/**
-----------------------------
Mobile and iPad Navigation
-----------------------------
**/
.categoryname {
  +.megamenu-submenu {
    margin-top: 14px;
    li {
    &:first-child {
      padding-top: 0px;
    }
    }
  }
}


@media (max-width: 968px) {
  .container {
    max-width: 100%;
  }
  .header {
    position: sticky;
    padding: 0 19px;
  }
  .header:hover, .header-sticky:hover, .brand-logo:hover + .header-sticky {
      background-color: rgba(255, 250, 246, 0.6980392157) !important;
      color: #001a71 !important;
  }
  .header:hover .search-icon path {
    fill: #001a71 !important;
  }
  .header-sticky:hover .icon-arrow {
    border-color: #001a71;
  }
  .mobile-customenav {
    top: 64px;
    max-width: 75%;
    left: -100%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9997;
    overflow-y: auto;
    transform: translateZ(205px);
    transition: all .5s ease-in-out;
    padding-bottom: 65px;
    &.active {
      left: 0;
      transform: translateZ(0);
      transition: all .5s ease-in-out;
    }
    .isMobileUi {
      padding: 0;
      margin-top: 24px;
      width: 100%;
      height: 100vh;
      overflow-y: scroll;
      div {
        overflow: hidden;
        padding: 5px 0 5px 0px;
        position: relative;
          .secondmenu{
            padding: 0px;
            padding-left: 20px;
            div {
              padding: 5px 0px;
            }
          }
      }
      a {
        font-family: 'sofia-pro-bold',sans-serif;
        font-size: 16px;
        line-height: 30px;
        margin: 0;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        &:empty {
          display: none;
          ~span {
            display: none;
          }
        }
        &.seperatemenu-hover {
          padding-left: 20px;
          &:hover {
            background: #fff;
            border-left: 4px solid #001a71;
            padding: 5px 0 5px 16px;
          }
        }
      }
      .submenu {
        padding: 5px 0 5px 20px;
        li {
          a {
            font-family: sofia-pro-regular;
          }
        }
      }
    }
  }
  .input-search:focus + .search-icon,
  .input-search:focus-visible + .search-icon,
  .input-search:visited + .search-icon {
    top: 0;
    right:1.5rem;
  }
  .input-search {
    top: -20px !important;
    right: -4px;
  }
  .input-search:focus,
  .input-search:focus-visible,
  .input-search:visited {
    top: 35px !important;
    right: -4px;
    width: 340px !important;
    &+svg {
      top: 50px !important;
      right: 15px !important;
    }
  }
  .search-box {
    button {
      top: -20px !important;
      right: -4px;
      &:focus {
        top:35px !important;
        z-index: 999;
      }
    }
    svg {
      top: -7px;
    }
  }
  .blogright-sidebar .category-card .tab-label:after {
    position: absolute;
    right: 15px;
    top: 7px;
}
}

@media (max-width: 1900px) and (min-width:1000px) {
  #carouselExampleCaptions .container {
    max-width: 100%;
  }
}

.swiper-slide-custom {
  width: auto !important;
}
.swiper-button-next, .swiper-button-prev {
  width: 48px !important;
  height: 48px !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 0 !important;
  background-image: url('../public/images/product-carousel-right.svg') !important;
  width: 48px;
  height: 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev:after {
  background-image: url('../public/images/product-carousel-left.svg') !important;
}

.input-search {
  // height: 50px;
  // width: 50px;
  // border-style: none;
  // padding: 12px 16px;
  // font-size: 16px;
  // letter-spacing: 2px;
  // outline: none;
  transition: all .5s ease-in-out;
  // padding-right: 40px;
  // color: #171717;
  // position: absolute;
  // right: 15px;
  // top: 0px;
  font-family: "sofia-pro-regular";
  // background-color: transparent;
}

.input-search::placeholder {
  color: #4D5F9C;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;

}
.wheretwobuy::placeholder{
  color: #4D5F9C;
}
// .btn-search {
  // width: 50px;
  // height: 50px;
  // border-style: none;
  // font-size: 20px;
  // font-weight: bold;
  // outline: none;
  // cursor: pointer;
  // border-radius: 50%;
  // position: absolute;
  // right: 15px;
  // color: #ffffff;
  // background-color: transparent;
// }

// .input-search:hover{
//   background-color: red;
// }


.btn-search:focus~.input-search {
  width: 310px;
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
  border: 1px solid rgba(255, 255, 255, .5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.search-icon {
  pointer-events: none;
  z-index: 999;
}

.search-box {
  // width: 250px;
  z-index: 9999;
}
.search-icon path {
  fill: #001a71;
}

.header:hover .search-icon path {
  fill: #fff;
}

.input-search:focus + .search-icon path{
  fill: #001A71;
}
.category-card .tab input[type=checkbox]{
  display: none;
}

.category-card .tab-label:after {
  content: "";
  background-image: url('../public/images/plus.svg');
  width: 24px;
  height: 24px;
  text-align: center;
  transition: all 1s;
  color: #001a71;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.category-card .tab input:checked + .tab-label:after {
  content: "";
  background-image: url('../public/images/minus.svg');
  width: 24px;
  height: 24px;
  text-align: center;
  transition: all 1s;
  color: #001a71;
  font-size: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.table-container{
  p{
    a{
      span{
        text-decoration: underline;
        color: #001A71;
      }
    }
  }
}


/*---------------
Video Player Code
----------------*/
.video-container {
	width: 100%;
	border-radius: 10px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.video-wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	video {
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}
  @media (max-width:968px) {
    padding: 0 10px;
  }
}

.play-button-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	pointer-events: none;
	#circle-play-b {
		cursor: pointer;
		pointer-events: auto;

		svg {
			width: 100px;
			height: 100px;
			fill: #fff;
			stroke: #fff;
			cursor: pointer;
			background-color: rgba(black, 0.2);
			border-radius: 50%;
			opacity: 0.9;
		}
	}
}
/** health needs Mobile carousel style **/

.carousel-controls {
  .left-btn, .right-btn {
    background-image: url('../public/images/product-carousel-left.svg');
    width: 48px;
    height: 48px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .right-btn {
    background-image: url('../public/images/product-carousel-right.svg');
  }
}
.para-ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; 
  @media screen and (max-width: 1023px) {
    -webkit-line-clamp: 4;
  }
}
.faq-box{
  p{
    margin-bottom: 4px;
    a{
      text-decoration: underline;
    }
  }
}

/*** search results accordion style ***/
.search-results {
  .mck-hn-accordion-title-check {
    display: none;
  }
  .filter-title {
    color: #001a71;
    font-weight: 800;
    font-family: "sofia-pro-bold";
    font-size: 16px;
    line-height: 24px;
  }
  .tab-label {
    display: flex;
    align-items: end;
  }
  .tab-content {
    margin: 0;
  }
  .filter-title {
    @media screen and (max-width: 1023px) {
      position: relative;
      z-index: -1;
    }
  }
  .tab input:checked ~ .tab-content {
    @media screen and (max-width: 1023px) {
      padding-top: 0;
    }
  }
  .mck-filter-clearall-icon{
    width: 12px;
    margin-right: 8px;
  }
}

.text-oneline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-heading-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-p-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-horiz-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: horizontal;
}

.text-content-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-sixcontent-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media (max-width: 968px) {
  .text-oneline-ellipsis,.text-heading-ellipsis, .text-p-ellipsis, .text-content-ellipsis, .text-sixcontent-ellipsis {
      -webkit-line-clamp: unset;
  }
}

.textoverflow-scroll::-webkit-scrollbar {
  width: 7px
}

.textoverflow-scroll::-webkit-scrollbar-track {
  background: #d7d7d7;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 26px;
}

.textoverflow-scroll::-webkit-scrollbar-thumb {
  height: 38px;
  background: #4b4f54;
}

.textoverflow-scroll::-webkit-scrollbar-thumb:hover {
  background: #4b4f54;
}


//Contactus page override for dynamic react value html  -- 129044
.contact-container .contact-body.mck-contact p {
  margin-top: 0;
}
.contact-container .contact-body.mck-contact p a span {
  font-family: "sofia-pro-regular";
}
//PDP-images block center
.pdp_images {
  @media screen and (max-width: 1023px) {
    justify-content: center;
    ul {
      li {
        img {
          height: 4rem;
          width: 2.125rem;
        }
      }
    }
  }
}

//where to buy Scroll
.location-box{
  
}
.location-box::-webkit-scrollbar {
  width: 15px;
  border: solid 0.5px #808CB8;
  border-radius: 6px;
  @media screen and (max-width: 1023px) {
      padding-right: -16px;
      left: -10px;
      position: absolute;
  }
}

.location-box::-webkit-scrollbar-thumb {
  height: 248px;
  background: #CCD1E3;
  border-radius: 6px;
}
.location-box::-webkit-scrollbar-thumb:hover {
  background: #CCD1E3;
}

video{
  border-radius: 10px;
  margin: 15px auto;
}