 .map-container {
    .gm-style {
          &-iw {
            width: 30.375rem;
            height: 189px;
            padding: 16px 16px 16px !important;
            &-d{
              overflow: hidden;
              max-height: unset;
            } 
          }
 }
 }

@media (max-width: 576px) {
.map-container{
  height: 100%!important;
  width: 100%!important;
}
}