 .map-container {
    .gm-style {
          &-iw {
            width: 30.375rem;
            min-height: 189px;
            padding: 16px 16px 16px !important;
            &-d{
              overflow: hidden;
              max-height: unset;
            } 
            @media (max-width: 576px) {
              max-width: 312px;  
            }
          }
    }
 }

