@import "variables.module.scss";
.megamenu-row:focus,
.megamenu-row:focus-visible,
.megamenu-row:focus-within {
    &+.secondmenu,
    &+.secondmenu:focus,
    &+.secondmenu:focus-visible,
    &+.secondmenu:focus-within {
        display: block !important;
    }
}

.show-cookies {
    &+.header {
        margin-top: 26px;
        @media (max-width: 968px) {
            margin: 0;
        }
    }
}

.isNotSticky {
    .header-sticky {
        margin-top: 35px;
        @media (max-width: 968px) {
            margin: 0;
        }
    }
}

@media (max-width: 980px) {
    .mobile-overlay-wrapper {
        top: 64px;
        max-width: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9997;
        overflow-y: auto;
        padding-bottom: 65px;
        background: #00000045;
    }
    
    .mobile-navwrapper {
        top: 64px;
        max-width: 75%;
        left: -100%;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 9997;
        overflow-y: auto;
        transform: translateZ(205px);
        transition: all 0.5s ease-in-out;
        padding-bottom: 65px;
    }
}

@media (max-width: 1025px) and (min-width: 1023px) {
    .isStickyActive{
        .isMobileUi {
        margin-right: 4rem !important;
        .mainmenu-items {
            margin: 0 20px !important;
            .mainmenu-link {font-size: 16px;}
        }
        }
    }
    .isNotSticky {
        .isMobileUi {
        padding-left: 10vw !important;
        .mainmenu-items {
            margin: 0 20px !important;
            .mainmenu-link {font-size: 14px;}
        }
        }
    }
}


@media (max-width: 1030px) and (min-width: 1000px) {
    .isStickyActive{
        .isMobileUi {
        padding-left: 8vw !important;
        }
    }
}

@media (max-width: 1100px) and (min-width: 1024px) {
    .isStickyActive{
        .isMobileUi {
        padding-left: 2vw;
        .mainmenu-items {
            margin: 0 18px !important;
            .mainmenu-link {font-size: 12px;}
        }
        }
    }
}

@media (max-width: 1279px) and (min-width: 1100px) {
    .isStickyActive{
        .isMobileUi {
        padding-left: 6vw;
        .mainmenu-items {
            margin: 0 18px !important;
            .mainmenu-link {font-size: 14px;}
        }
        }
    }
}
  
@media (max-width: 1259px) and (min-width: 1000px) {
    .isNotSticky {
        .isMobileUi {
        padding-left: 4vw;
        .mainmenu-items {
            margin: 0 20px !important;
            .mainmenu-link {font-size: 14px;}
        }
        }
    }
}

@media (max-width: 1279px) and (min-width: 1260px) {
    .isNotSticky {
        .isMobileUi {
        padding-left: 4vw;
        .mainmenu-items {
            margin: 0 20px !important;
            .mainmenu-link {font-size: 14px;}
        }
        }
    }
}

@media (max-width: 1300px) and (min-width: 1280px) {
    .isStickyActive{
        .isMobileUi {
        padding-left: 5vw;
        .mainmenu-items {
            margin: 0 20px !important;
            .mainmenu-link {font-size: 16px;}
        }
        }
    }
    .isNotSticky {
        .isMobileUi {
        padding-left: 7vw;
        .mainmenu-items {
            margin: 0 25px !important;
            .mainmenu-link {font-size: 16px;}
        }
        }
    }
}

@media (max-width: 1379px) and (min-width:1300px) {
    .isStickyActive{
        .isMobileUi {
        padding-left: 3vw;
        .mainmenu-items {
            margin: 0 20px !important;
            .mainmenu-link {font-size: 16px;}
        }
        }
    }
    .isNotSticky {
        .isMobileUi {
        padding-left: 4vw;
        .mainmenu-items {
            margin: 0 23px !important;
            .mainmenu-link {font-size: 16px;}
        }
        }
    }
}

@media (max-width: 1400px) and (min-width:1380px) {
    .isStickyActive{
        .isMobileUi {
        padding-left: 3vw;
        .mainmenu-items {
            margin: 0 20px !important;
            a {font-size: 16px;}
        }
        }
    }
    .isNotSticky {
        .isMobileUi {
        padding-left: 4vw;
        .mainmenu-items {
            margin: 0 25px !important;
            .mainmenu-link {font-size: 16px;}
        }
        }
    }
}

@media (max-width: 1600px) and (min-width:1399px) {
    .isStickyActive{
        .isMobileUi {
        padding-left: 3vw;
        .mainmenu-items {
            margin: 0 25px !important;
            .mainmenu-link {font-size: 16px;}
        }
        }
    }
    .isNotSticky {
        .isMobileUi {
        padding-left: 9vw;
        .mainmenu-items {
            margin: 0 30px !important;
        }
        }
    }
}

@media only screen and (min-device-width: 1100px) and (max-device-width: 1150px) and (orientation:landscape) {
    .isStickyActive {
        .logo-image {
           margin-top: 10px !important;
        }
    }
}