.search-page-container {
  padding: 72px;

  .search-result-count {
    font-size: 54px;
    line-height: 61px;
    color: #001a71;
    font-family: "GTAlpina-Medium";
    padding-bottom: 48px;
  }

  .search-result-text {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    font-family: "sofia-pro-regular";
  }
}
