.terms {
    h1 {
        font-size: 54px;
        line-height: 61px;
        font-family: "GTAlpina-Medium";
        color: #001A71;
    }

    h3 {
        font-family: "GTAlpina-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        color: #001A71;
        margin: 20px 0px;
        text-transform: capitalize;
    }

    a {
        color: #001A71;
        font-family: "GTAlpina-Medium";
        font-size: 24px;
        line-height: 27px;
        text-decoration: underline;
        text-transform: lowercase;
    }

    p {
        font-family: "sofia-pro-regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #3A3E41;
    }

    strong {
        font-family: "GTAlpina-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 40px;
        margin-bottom: 10px;
        color: #001A71;
    }

    li {
        list-style-type: circle;
        list-style-position: inside;
        font-family: "sofia-pro-regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #3A3E41;
    }

    li::marker {
        color: #001A71;

        unicode-bidi: isolate;
        font-variant-numeric: tabular-nums;
        text-transform: none;
        text-indent: 0px !important;
        text-align: start !important;
        text-align-last: start !important;
    }

    ul li>ul {
        padding-left: 30px;
    }

}

@media screen and (max-width: 576px) {
    .terms {
        h1 {
            font-size: 27px;
            line-height: 30px;
            font-family: "GTAlpina-Medium";
            color: #001A71;
        }
        strong{
            font-size: 20px;
            line-height: 40px;
        }
        h3{
            font-size: 27px;
            line-height: 30px;
            margin: 15px 0px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
        a{
            font-size: 16px;
            line-height: 24px;
        }
    }
}
