.terms {
    h1 {
        font-size: 54px;
        line-height: 61px;
        font-family: "GTAlpina-Medium", Helvetica, Arial, Verdana, Tahoma, sans-serif;
        color: #001A71;
    }

    h3 {
        font-family: "GTAlpina-Medium", Helvetica, Arial, Verdana, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 40px;
        color: #001A71;
        margin: 20px 0px;
        text-transform: capitalize;
    }

    a {
        color: #001A71;
        font-family: "GTAlpina-Medium", Helvetica, Arial, Verdana, Tahoma, sans-serif;
        font-size: 24px;
        line-height: 27px;
        text-decoration: underline;
        text-transform: lowercase;
    }

    p {
        font-family: "sofia-pro-regular","sans-serif";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #3A3E41;
    }

    strong {
        font-family: "GTAlpina-Medium", Helvetica, Arial, Verdana, Tahoma, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 40px;
        margin-bottom: 10px;
        color: #001A71;
    }



}

@media screen and (max-width: 576px) {
    .terms {
        h1 {
            font-size: 27px;
            line-height: 30px;
            font-family: "GTAlpina-Medium", Helvetica, Arial, Verdana, Tahoma, sans-serif;
            color: #001A71;
        }
        strong{
            font-size: 20px;
            line-height: 40px;
        }
        h3{
            font-size: 27px;
            line-height: 30px;
            margin: 15px 0px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
        a{
            font-size: 16px;
            line-height: 24px;
        }
    }
}
