.whyft-component {
    .w-full.container.mx-auto{
        padding-top: 0px;
        padding-bottom: 48px;
    @media screen and (max-width: 1023px) {
        padding-bottom: 24px;
    }
    }
    .page-heading-h3 {
        margin-top: 0px;
    }
    .mainpage-styles {
        width: 100% !important;
    }

    #learning-section {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}